<div class="todo-list">
  <h1>Todo list</h1>
  @if (isLoading()) {
    <app-pre-loader></app-pre-loader> 
  } @else {
    <div class="todo-list__filter">
      <mat-form-field class="todo-list__filter__select" subscriptSizing="dynamic">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="statusFilter">
          @for (option of statusOptions; track option.label) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    @for (item of items; track item.id) {
      <app-todo-item [item]="item" (deleteItem)="deleteItem($event)" (showDescription)="showDescription($event)" [selectedItemId]="selectedItemId()"></app-todo-item>
    }
    <app-todo-item-create></app-todo-item-create>
  }
</div>
