<div class="todo-list">
  <h1>Todo list</h1>
  @if (isLoading()) {
    <div class="spinner"></div>
  } @else {
    @for (item of items(); track item.id) {
      <app-todo-item [item]="item" (deleteItem)="deleteItem($event)"></app-todo-item>
    }
    <div class="todo-list__add-item">
      <mat-form-field class="todo-list__input">
        <input matInput placeholder="Add your new todo" [(ngModel)]="newTodoText" />
      </mat-form-field>
      <app-button title="Add task" (click)="addItem()"></app-button>
    </div>
  }
</div>
