.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 16px;

  &__add-item {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;

    input[appInput] {
      flex: 1;
    }
  }
}