.btn {
  border: 1px solid black;
  background-color: inherit;
  width: 100px;
  height: 30px;
  cursor: pointer;
  color: white;
}

:host(.delete) .btn {
  color: black;
}

:host(.add) .btn {
  background-color: purple;
  color: white;
}