@let todoItem = item();
<div class="todo-item">
  <div
    class="todo-item__item"
    appTooltip="Показать описание"
    role="button"
    tabindex="0"
    (click)="showDescription.emit(todoItem.id)"
    (keydown.enter)="showDescription.emit(todoItem.id)"
    [class.selected]="selectedItemId() === item().id"
  >
    <div class="todo-item__row">
      <span>{{ todoItem.text }}</span>
      @if(selectedItemId() === todoItem.id) {   
        <span>{{ todoItem.description }}</span>
      }
    </div>
  </div>
  <app-button class="todo-item_btn" title="Delete" (click)="deleteItem.emit(todoItem.id)" class="button--delete" appTooltip="Завершил задачу"></app-button>
</div>
